.Pagination{
	padding: 0 15%;
}

.Pagination button{
	background-color: rgb(255,250,240);
	color: #2F4F4F;
	border: solid 1px #b1b1b1;
	border-radius: 2px;
	font-size: 20px;
	width: 40px;
	height: 40px;
	margin: 10px 5px;
}

.Pagination button:hover{
	border: solid 1px blue;
	color: blue;
}

.Pagination button.AtPage{
	border: solid 1px blue;
	color: blue;
}