.Projects{
	position: relative;
	left: 53px;
	display: inline-block;
	vertical-align:top;
}


.GridContainer{
	height: 100vh;
	display: inline-grid;
	width: 100vh;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	overflow: hidden;
}


.Project{
	font-size: 2.75vh;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
    overflow: hidden;
    white-space: normal;
}

.Project .mask{
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: rgba(0,0,0,0.65);
	text-decoration-color: white;
	text-decoration: none;
	padding: 20px;
	box-sizing: border-box;
}

.Project .news-content{
	width: 100%;
	color: white;
	font-family: 'Noto Sans TC', sans-serif;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.Project .Project-title{
	font-size: 2.5vh;
	-webkit-line-clamp: 3;
}

.description-parent{
	flex-grow: 1;
	position: relative;
}

.Project .Project-description{
	font-size: 2vh;
	font-weight: 100;
	-webkit-line-clamp: 4;
	position: absolute;
	bottom: 0px;
}
