.Projects{
	position: relative;
	left: 53px;

	display: inline-block;
	vertical-align:top;
	
}


.GridContainer{
	height: 100vh;
	display: inline-grid;
	width: 100vh;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	

	overflow: hidden;
}


.Project{
	/*font-size: 20px;*/
	font-size: calc(10px + 0.7vw);
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
    overflow: hidden;
    white-space: normal;
}

.Project .mask{
	display: grid;
    grid-template-rows: [first]1fr[src]4fr[image]1.5fr[title]1fr[btn];
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	text-decoration-color: white; 
}


.Project img{
	grid-row-start: src;
	grid-row-end: image;
	text-align: center;
	width: 100%;
	height: 100%;
	/*width: 393px;*/
	overflow: hidden;
}

.Project div{
	color: white;
	padding: 10px;
	/*background-color: #fff;*/
}

.Project button{
	border-radius: 50px; 
	background-color: rgba(0,0,0,0);
	border-style: none;
	font-size: 18px;
	/*margin: 10px;*/
}

.Project button:hover{
	background-color: rgba(255,0,255,0.2);

}